<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Welcome to web</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
  </head>
  <body>
    <div id="map"></div>

    <!-- scripts and styles -->
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet-src.js"></script>
      {% script "/js/leaflet-d3-layer.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("web.app");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
      {% script "/js/leaflet-d3-layer.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




