<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Welcome to web</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
  </head>
  <body>
    <div id="map"></div>

    <div class="layerButtons">
        <div class="button swim"></div>
        <div class="button kayak"></div>
        <div class="button fish"></div>
    </div>

    <div class="timeScaleButtons">
        <div class="button active">Day</div>
        <div class="button">Month</div>
        <div class="button">Year</div>
    </div>

    <div class="playButton button play"></div>

    <div class="button infoButton info"></div>

    <div class="playhead"></div>

    <!-- scripts and styles -->
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet-src.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.js"></script>
      {% script "/js/browser-polyfill.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("web.app");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
      {% script "/js/browser-polyfill.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




