<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Welcome to web</title>
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  </head>
  <body>
    <div id="map"></div>

    <div class="layerButtons">
        <div class="button swim"></div>
        <div class="button kayak"></div>
        <div class="button fish"></div>
    </div>

    <div class="timeScaleButtons">
        <div class="button active">Day</div>
        <div class="button">Month</div>
        <div class="button">Year</div>
    </div>

    <div class="playButton button play"></div>

    <div class="button infoButton info"></div>

    <div class="playhead"></div>

    <!-- scripts and styles -->
    {% style "/css/leaflet.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      {% script "/js/d3.js" %}
      {% script "/js/leaflet-src.js" %}
      {% script "/js/lodash.js" %}
      {% script "/js/browser-polyfill.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("web.app");</script>
    {% else %}
      {% script "/js/d3.min.js" %}
      {% script "/js/leaflet.js" %}
      {% script "/js/lodash.min.js" %}
      {% script "/js/browser-polyfill.js" %}
      {% script "/js/visualization.js" %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




