/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
resources/public/js/app.js
resources/public/js/out/

# IntelliJ
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml